{% extends 'mainapp/main.html' %}

{% block title %}
    Delete {{post.post_title}}
{% endblock title %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-sm-6 my-5">

            <div class="alert alert-danger">
                <h1>Delete {{post.post_title}}</h1>
                <p>Are you sure you want to delete "{{post.post_title}}"?</p>
                <form action="" method="POST" novalidate>
                    {% csrf_token %}
                    <input type="submit" value="Delete" class="btn btn-outline-danger">
                    <a href="{% url 'post-detail' post.id %}" class="btn btn-outline-dark">Cancel</a>
                </form>
            </div>
            
        </div>
    </div>

{% endblock content %}