{% extends 'mainapp/main.html' %}

{% block title %}
    Delete Post Category
{% endblock title %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-sm-6 my-5">

            <div class="alert alert-danger">
                <h1 class="text-start">Delete Post Category</h1>
                <p>Are you sure, you want to delete Post Category "{{category.category_name}}"?</p>
                <form action="" method="POST" novalidate>
                    {% csrf_token %}
                    <input type="submit" value="Delete" class="btn btn-outline-danger">
                    <a href="{% url 'post-categories' %}" class="btn btn-outline-dark">Cancel</a>
                </form>
            </div>

        </div>
    </div>

{% endblock content %}