<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'mainapp/css/bootstrap.css' %}">
    {% block css %}
    {% endblock css %}
</head>
<body>

    {% block navbar %}
        {% include 'mainapp/navbar.html' %}
    {% endblock navbar %}
    
    <div class="container my-5">
        {% block content %}
        {% endblock content %}
    </div>


    <script src="{% static 'mainapp/js/jquery.js' %}"></script>
    <script src="{% static 'mainapp/js/popper.js' %}"></script>
    <script src="{% static 'mainapp/js/bootstrap.js' %}"></script>
    {% block script %}
    {% endblock script %}
</body>
</html>