{% extends 'mainapp/main.html' %}

{% block title %}
    Post Categories
{% endblock title %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-sm-6 my-5">
            <a href="{% url 'user-profile' request.user.id %}" class="btn btn-outline-dark my-3">Back</a>
            {% if request.user.is_superuser %}
                <a href="{% url 'create-post-category' %}" class="btn btn-outline-dark my-3">Create Post Ctegory</a>
            {% endif %}
            <table class="table table-hover text-center">
                <thead>
                  <tr>
                    <th scope="col">Sl. No.</th>
                    <th scope="col">Category Name</th>
                    {% if request.user.is_superuser %}
                        <th scope="col">Action</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{category.category_name}}</td>
                            {% if request.user.is_superuser %}
                                <td>
                                    <a href="{% url 'edit-post-category' category.id %}" class="btn btn-outline-warning">Edit</a>
                                    <a href="{% url 'delete-post-category' category.id %}" class="btn btn-outline-danger">Delete</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% empty %}
                        <h3 class="alert alert-warning">No Categories Available</h3>
                    {% endfor %}
                  
                </tbody>
              </table>

        </div>
    </div>

{% endblock content %}